<div class="row">
    <div class="col">
        <h5><strong>Status: </strong>Not Found</h5>
    </div>
    <div class="col text-right">
        <h5><strong>Error:</strong> 404</h5>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <p><strong>Message: </strong>We're sorry but we could not find the contents you are looking for. This may happen if you have entered site url incorrectly or this content doesn't exist anymore. You can try searching page again or go back to home.</p>
    </div>
</div>