<div class="container" *ngIf="bus?.id">
    <div class="row">
        <div class="col-12">
            <h3>{{componentName}}</h3>
            <hr>
        </div>
        <div class="col-md-12 col-lg-6">
            <h5>Bus Number: <strong>{{bus.id}}</strong></h5>
            <hr>
            <h5>Total Passengers in Bus: <strong>{{bus.verified}}</strong></h5>
            <hr>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <!-- Seat Arrangements Layout -->
                    <div class="seat-arrangements">
                        <div class="row" *ngFor="let rowofseats of bus.seats | reverse" >
                            <div class="col-2" *ngFor="let seat of rowofseats" >
                                <button type="button" class="btn btn-sm" *ngIf="seat" [ngClass]="{'btn-outline-secondary text-dark': !seat.booking, 'btn-outline-primary': !seat.booked, 'bg-secondary text-white': seat.selected || seat.currentUserSelected, 'btn-danger': seat.booked, 'bg-success': seat.verified}" disabled>{{seat.id}}</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 dashboard"></div>
                            <div class="col-12 mirror"></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <h5>Denotions: </h5>
            <p class="denotions">
                <button class="btn btn-sm btn-outline-secondary text-dark" disabled>*</button> - Not Allotted for Booking
                <br>
                <button class="btn btn-sm btn-outline-primary" disabled>*</button> - Unreserved Seats
                <br>
                <button class="btn btn-sm btn-outline-primary bg-secondary text-white" disabled>*</button> - Seats Locked by User
                <br>
                <button class="btn btn-sm btn-danger" disabled>*</button> - Reserved
                <br>
                <button class="btn btn-sm btn-danger bg-success" disabled>*</button> - Passengers Verified
            </p>
        </div>
        <div class="col-md-12 col-lg-6">
            <h5>Bus Route: <strong>{{bus.route.code}}</strong></h5>
            <hr>
            <h5>Trip: From <strong>{{bus.route.from}}</strong> to <strong>{{bus.route.to}}</strong></h5>
            <hr>
            <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d997172.4162469951!2d79.27768296546361!3d12.502583644300936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x3a52674f8f436133%3A0xfb8f38bd55c2f815!2sCMBT%20BUS%20STAND%20KOYAMBEDU%2C%20Koyambedu%2C%20Chennai%2C%20Tamil%20Nadu!3m2!1d13.0695164!2d80.20402899999999!4m5!1s0x3a53568ffb58734b%3A0x3ee9480bf352bde2!2sVillupuram%20New%20Bus%20Stand%20Rd%2C%20Puntottam%2C%20Tamil%20Nadu%20605602!3m2!1d11.9299734!2d79.483273!5e0!3m2!1sen!2sin!4v1568743283623!5m2!1sen!2sin" width="100%" height="590" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            <hr>
            <h5>Action: </h5>
            <p class="text-center" *ngIf="bus.trip">
                <span style="margin-top: 20px; max-width: none; text-align: center;">Trip Started Successfully!</span>
                <br>
                <br>
                <span class="text-primary" style="font-size: 24px;" *ngIf="bus.trip && countDown">Ends in <kbd>{{countDown}}</kbd></span>
            </p>
            <p class="text-center" *ngIf="!bus.trip">
                <ngb-toast *ngIf="showToast" [delay]="2000" (hide)="showToast = false;" style="margin-top: 20px; max-width: none; text-align: center;">Trip Completed Successfully!</ngb-toast>
                <br>
                Click here to close booking and start the trip
                <br>
                <br>
                <button type="button" class="btn btn-lg btn-primary" (click)="startTrip()">Start Trip</button>
            </p>
        </div>
    </div>
</div>
    